/* Définition couleur et image de fond pour le header */
.header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
    background-image: url("images/image2.jpg");
}

/* Définition des couleur et placement pour le header */
.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;

}

/* Police d'écriture pour le "LOGO" */
.header a.logo {
    font-size: 25px;
    font-weight: bold;
    image-resolution: 200px, 200px;
}

/* Définition de la couleur de base des boutons à l'affichage */
.header a.bouton {
    background-color: #3366ff;
    color: white;
    padding-right: 20px;
    padding-left: 20px;
}

/* Changer la couleur des boutons quand on passe la souris dessus */
.header a.bouton:hover {
    background-color: #6DA34D;
    color: white;
    padding-right: 20px;
    padding-left: 20px;
}

/* Fixe les boutons en haut à droite */
.header-right {
    float: right;
}

/* Ajout d'une média query pour rendre responsive le site pour les téléphones en dessous de 550 pixels (qui centre les boutons) */
@media all and (max-width: 550px) {
    .header a {
        float: none;
        display: block;
        text-align: center;
    }

    .header-right {
        float: none;
    }
}

/* Contenu de la page */
.content {
    padding: 16px;
}

/* Position sticky pour le Header */
.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

/*  */
.sticky+.content {
    padding-top: 102px;
}

.footer {
    padding: 40px 0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #555;
    color: white;
    text-align: center;
}